{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row mb-5">
            <div class="col-12 d-flex">
                <nav class="nav nav-pills flex-row mx-auto">
                    <a class="nav-link active" aria-current="page" href="#">Active</a>
                    <a class="nav-link" href="#">Longer nav link</a>
                    <a class="nav-link" href="#">Link</a>
                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}
