:root {
    --bs-primary-rgb: 61, 81, 160;
    --bs-body-font-family: "Raleway", sans-serif;
}

html, body {
    min-height: 100vh;
}

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
}

header nav {
    background: #3d52a0;
}

main {
    margin-top: 24px;
}

footer {
    padding: 16px;
    text-align: center;
}

.btn-primary {
    --bs-btn-bg: #3d52a0;
    --bs-btn-border-color: #3d52a0;
    --bs-btn-hover-bg: #2a396e;
    --bs-btn-hover-border-color: #2a396e;
    --bs-btn-active-bg: #2a396e;
    --bs-btn-active-border-color: #2a396e;
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/raleway/v34/1Ptug8zYS_SKggPNyC0IT4ttDfA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.navbar-brand,
.navbar-nav .nav-link {
    color: #fff;

    &:hover, &:focus, &.active {
        color: #fff;
    }
}

.accordion-transparent {
    .accordion-item {
        border-top: none;
        border-left: none;
        border-right: none;
        border-radius: 0;
    }

    .accordion-button {
        background: transparent;
    }
}

.collection-item {
    .form-select {
        border-top-left-radius: 6px !important;
        border-bottom-left-radius: 6px !important;
    }
}

.btn-github svg {
    width: 30px;
    height: 30px;
}

.btn-outline-primary {
    --bs-btn-color: #3d52a0;
    --bs-btn-active-bg: #3d52a0;
    --bs-btn-border-color: #3d52a0;
    --bs-btn-active-border-color: #3d52a0;
}

.accordion-faq {
    .accordion-item {
        border: 0;
    }

    .accordion-button {
        padding-left: 0;
    }

    .accordion-button:not(.collapsed) {
        background: unset;
    }

    .accordion-body {
        padding-left: 0;
    }
}


