{% macro vote_value_bar_chart(voteStats) %}
    {% set nbVote = 0 %}
    {% for value, count in voteStats %}
        {% if value != constant('App\\Entity\\MemberVote::VOTE_DID_NOT_VOTE') %}
            {% set nbVote = nbVote + count %}
        {% endif %}
    {% endfor %}

    <div class="bar-chart">
        <div class="bar-chart-for" style="width: {{ attribute(voteStats, constant('App\\Entity\\MemberVote::VOTE_FOR')) * 100 / nbVote }}%;"></div>
        <div class="bar-chart-against" style="width: {{ attribute(voteStats, constant('App\\Entity\\MemberVote::VOTE_AGAINST')) * 100 / nbVote }}%;"></div>
        <div class="bar-chart-abstention" style="width: {{ attribute(voteStats, constant('App\\Entity\\MemberVote::VOTE_ABSTENTION')) * 100 / nbVote }}%;"></div>
    </div>
{% endmacro %}
