<footer class="main-footer bg-primary mt-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <a href="https://github.com/BrownSim/compare-their-vote" target="_blank" class="btn btn-link btn-github">GitHub</a>
                <a href="https://howtheyvote.eu/" target="_blank" class="btn btn-link">HowTheyVote</a>
            </div>
        </div>
    </div>
</footer>
